.lock-door {
  margin: 20px auto;
  /*padding: 15px;*/
  border: 5px inset #ccc;
  max-width: 400px;
}

.lock__display {
  margin-bottom: 20px;
  padding: 30px 20px;
  background: #26de81;
  border: 5px inset #f2f2f2;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 10px;
  text-align: center;
}
.lock__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
}
.lock__btn {
  margin: 0 15px 15px;
  padding: 13px 0;
  flex: 1 1 25%;
  font-size: 18px;
  font-weight: bold;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 2px 0 #666;
  cursor: pointer;
  color: #444;
  text-shadow: 0 1px 0 #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}